:host {
    ion-content {
        // --background: linear-gradient(-135deg, var(--ion-color-dark), var(--ion-color-primary))
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        border-radius: 0;
    }

    ion-button {
        text-transform: capitalize;
    }
}


// ion-item {
//     .item-native {
//         border-radius: .5rem;
//     }
// }
