<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="closeModal()">
                <ion-icon name="close" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'app.pages.profile.title.edit' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="onEditForm" class="list-form">
        <ion-item class="ion-no-padding animated fadeInUp">
            <ion-label position="floating">
                <ion-icon name="person" item-start></ion-icon>
                {{ 'app.label.profileName' | translate }}
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="name"></ion-input>
        </ion-item>
        <p class="text08"
           *ngIf="onEditForm.get('name').touched && onEditForm.get('name').hasError('required')">
            <ion-text color="warning">
                {{ 'app.label.errors.field' | translate }}
            </ion-text>
        </p>
    
        <ion-item class="ion-no-padding animated fadeInUp">
            <ion-label>
                <ion-icon name="fast-food" item-start></ion-icon>
                {{ 'app.label.shop' | translate }}
            </ion-label>
            <ion-select formControlName="shop" okText="OK" cancelText="Cancel" [selectedText]="this.f.shop.value ? this.f.shop.value.companyName : ''">
                <ion-select-option [value]="shop" *ngFor="let shop of shopLists" >{{shop.companyName}}</ion-select-option>
            </ion-select>
        </ion-item>
        <p class="text08"
           *ngIf="onEditForm.get('shop').touched && onEditForm.get('shop').hasError('required')">
            <ion-text color="warning">
                {{ 'app.label.errors.field' | translate }}
            </ion-text>
        </p>
    
        <ion-item class="ion-no-padding animated fadeInUp">
            <ion-label>
                <ion-icon name="person-circle" item-start></ion-icon>
                {{ 'app.label.isMainAdmin' | translate }}
            </ion-label>
            <ion-toggle [(ngModel)]="isMainAdmin" [ngModelOptions]="{standalone: true}" (ngModelChange)="setShopID()"></ion-toggle>
        </ion-item>
        
        <ion-button expand="full" color="primary" (click)="editShop()" [disabled]="!onEditForm.valid">{{ 'app.button.editProfile' | translate }}
        </ion-button>
    </form>


</ion-content>
