<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="closeModal()">
                <ion-icon name="close" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'app.pages.users.title.add' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="onRegisterForm" class="list-form">
        <ion-item class="ion-no-padding animated fadeInUp">
            <ion-label position="floating">
                <ion-icon name="person" item-start></ion-icon>
                {{ 'app.label.firstname' | translate }}
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="firstName"></ion-input>
        </ion-item>
        <p class="text08"
           *ngIf="onRegisterForm.get('firstName').touched && onRegisterForm.get('firstName').hasError('required')">
            <ion-text color="warning">
                {{ 'app.label.errors.field' | translate }}
            </ion-text>
        </p>
        
        <ion-item class="ion-no-padding animated fadeInUp">
            <ion-label position="floating">
                <ion-icon name="person" item-start></ion-icon>
                {{ 'app.label.lastname' | translate }}
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="lastName"></ion-input>
        </ion-item>
        <p class="text08"
           *ngIf="onRegisterForm.get('lastName').touched && onRegisterForm.get('lastName').hasError('required')">
            <ion-text color="warning">
                {{ 'app.label.errors.field' | translate }}
            </ion-text>
        </p>
        
        <ion-item class="ion-no-padding animated fadeInUp">
            <ion-label position="floating">
                <ion-icon name="mail" item-start></ion-icon>
                {{ 'app.label.email' | translate }}
            </ion-label>
            <ion-input color="secondary" type="email" formControlName="email"></ion-input>
        </ion-item>
        <p class="text08"
           *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">
            <ion-text color="warning">
                {{ 'app.label.errors.field' | translate }}
            </ion-text>
        </p>
        
        <ion-item class="ion-no-padding animated fadeInUp">
            <ion-label position="floating">
                <ion-icon name="lock-closed" item-start></ion-icon>
                {{ 'app.label.password' | translate }}
            </ion-label>
            <ion-input color="secondary" type="password" formControlName="password"></ion-input>
        </ion-item>
        <p color="warning" class="text08"
           *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">
            <ion-text color="warning">
                {{ 'app.label.errors.field' | translate }}
            </ion-text>
        </p>
        
        <ion-item class="ion-no-padding animated fadeInUp">
            <ion-label>
                <ion-icon name="settings" item-start></ion-icon>
                {{ 'app.label.country' | translate }}
            </ion-label>
            <ion-select okText="OK" cancelText="Cancel" (ionChange)="selectCountry($event)" formControlName="country">
                <ion-select-option [value]="country" *ngFor="let country of countries">{{country.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <p color="warning" class="text08"
           *ngIf="onRegisterForm.get('country').touched && onRegisterForm.get('country').hasError('required')">
            <ion-text color="warning">
                {{ 'app.label.errors.field' | translate }}
            </ion-text>
        </p>
        
        <ion-item class="ion-no-padding animated fadeInUp">
            <ion-label>
                <ion-icon name="language" item-start></ion-icon>
                {{ 'app.label.language' | translate }}
            </ion-label>
            <ion-select formControlName="language" okText="OK" cancelText="Cancel">
                <ion-select-option [value]="language" *ngFor="let language of languages" >{{language.language}}</ion-select-option>
            </ion-select>
        </ion-item>
    
        <ion-item class="ion-no-padding animated fadeInUp">
            <ion-label>
                <ion-icon name="person" item-start></ion-icon>
                {{ 'app.pages.profile.title.header' | translate }}
            </ion-label>
            <ion-select okText="OK" cancelText="Cancel" formControlName="profile">
                <ion-select-option [value]="profile" *ngFor="let profile of profiles">{{profile.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <p color="warning" class="text08"
           *ngIf="onRegisterForm.get('profile').touched && onRegisterForm.get('profile').hasError('required')">
            <ion-text color="warning">
                {{ 'app.label.errors.field' | translate }}
            </ion-text>
        </p>
        
        <ion-button expand="full" color="primary" (click)="addUser()" [disabled]="!onRegisterForm.valid">{{'app.button.addUser' | translate}}</ion-button>
    </form>
    
    
</ion-content>
